@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <h2>BlazorDragonBall</h2>
        <nav>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="personagem">Personagem</NavLink>
        </nav>
    </aside>

    <main class="content">
        @Body
    </main>
</div>
