@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Dragon Ball API</h1>
<p>Aplicação em Blazor para consultar personagens do anime Dragon Ball pelo ID.</p>

<a class="button" href="personagem">Consultar personagem</a>
